fastapi
fastapi-versioning
fastapi-cloud-logging
python-multipart
pandas
numpy
sentence-transformers==2.2.2
catboost
shap
oauth2client==4.1.3
gcsfs==2021.9.0
google-api-python-client==1.12.8
loguru 
gunicorn==20.0.4
python-jose
cryptography
passlib[bcrypt]
google-cloud-secret-manager==2.2.0