datetime==4.3
fsspec==2022.11.0
gcsfs==2022.11.0
google-cloud-secret-manager==2.4.0
keras==2.11.0
loguru==0.6.0
mlflow==1.17.0
pandas-gbq==0.15.0
protobuf==3.19.6
recmetrics==0.1.5
# TFRS installs tensorflow==2.11.0
tensorflow-recommenders==0.6.0
typer==0.7.0
