.idea
.vscode/
__pycache__/
.DS_Store

.env.local

.pytest_cache
.coverage
.python-version
.venv/
venv/
venv-lint/

# ignore .json credential files
# *.json
# !recommendation/db/tests/tables/data.json
# !recommendation/api/*.json
airflow.cfg
unittests.cfg
credentials/
apps/recommendation/api/src/locustfile.py
apps/recommendation_v2/api/src/locustfile.py

# venv
data-gcp-api