.idea
.vscode/
.cursor/
.user_id

__pycache__/
.DS_Store

.env.local

.pytest_cache
.coverage
.python-version
.ruff_cache
.venv/
venv/
venv-lint/
logs/

# ignore .json credential files
# *.json
# !recommendation/db/tests/tables/data.json
# !recommendation/api/*.json
*.code-workspace
unittests.cfg
credentials/
apps/recommendation/api/src/locustfile.py
*.cb
.cache_ggshield
# venv
data-gcp-api
logs/dbt.log
site
package_versions.diff

# AI
.serena
