.idea
.vscode/
__pycache__/
.DS_Store

.env.local

.pytest_cache
.coverage
.python-version
.venv/
venv/
venv-lint/
logs/

# ignore .json credential files
# *.json
# !recommendation/db/tests/tables/data.json
# !recommendation/api/*.json
*.code-workspace
airflow.cfg
unittests.cfg
credentials/
apps/recommendation/api/src/locustfile.py
*.cb
# venv
data-gcp-api