default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [pre-commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [pre-commit]
        additional_dependencies: [ruff==0.5.7]
  - repo: https://github.com/tconbeer/sqlfmt
    rev: v0.29.0
    hooks:
      - id: sqlfmt
        language_version: python
        additional_dependencies: ['.[jinjafmt]']
        exclude: orchestration/dags/dependencies/applicative_database/sql/raw/.*\.sql$|orchestration/dags/data_gcp_dbt/snapshots/.*\.sql$

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [pre-commit]

  - repo: https://github.com/gitguardian/ggshield
    rev: v1.42.0
    hooks:
      - id: ggshield
        language_version: python3
        stages: [pre-commit]

  - repo: https://github.com/owenlamont/uv-secure
    rev: 0.16.0
    hooks:
      - id: uv-secure
        verbose: true
        # uv-secure exits with non-zero code if it finds vulnerabilities but we don't want
        #   to block commits in that case, so we ignore the exit code
        entry: bash -c 'uv-secure "$@" || true' --

  # TODO: uncomment once netskope problem is fixed
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.18.0
  #   hooks:
  #   - id: markdownlint-cli2
  #     language_version: 24.0.0
  #     args:
  #       - --fix
