# Global requirements
pytest==6.1.1
pytest-cov==2.10.1

# Subprojects specific requirements
-r ./linter-requirements.txt
-r analytics/analytics-requirements.txt
-r orchestration/orchestration-requirements.txt
-r recommendation/api/api-requirements.txt
-r recommendation/model/model-requirements.txt
-r recommendation/db/db-requirements.txt
