google-cloud-bigquery>=3.12.0
google-cloud-secret-manager>=2.2.0
typer==0.7.0
pandas==1.4.1
tqdm==4.66.1
gcsfs==2023.5.0
pandas-gbq>=0.17.1
numpy==1.26.4
hdbscan>=0.8.28
umap_learn>=0.5.3
loguru==0.7.0
typer==0.7.0
pyarrow==13.0.0
polars==0.19.12
timeout-decorator
tensorflow
polyfuzz
bertopic[spacy]
flair
openai
umap-learn[parametric_umap]
numba
pynndescent
scipy==1.12.0 # gensim broken with 1.13.0