datetime==4.3
google-cloud-secret-manager==2.4.0
gcsfs==2021.9.0
mlflow==1.17.0
numpy==1.19.4 # Python3.7 + TF 2.6.3
pandas==1.2.4
pandas-gbq==0.15.0
scipy==1.5.4
# Si problème, passer tensorflow en 2.7.0
tensorflow==2.9.3
tensorflow-recommenders==0.6.0
keras==2.6.0
recmetrics==0.1.5
google-cloud-aiplatform==1.16.0
typer==0.7.0
pytest==6.1.1
tqdm==4.64.1
protobuf==3.20.*
loguru==0.6.0
