datetime==4.3
google-cloud-secret-manager==2.4.0
gcsfs==2021.9.0
mlflow==2.2.1
numpy>=1.22.0
pandas==1.5.3
pandas-gbq>=0.17.1
tensorflow==2.11.1
tensorflow-recommenders==0.7.3
keras==2.11.0
recmetrics==0.1.5
google-cloud-aiplatform==1.22.0
typer==0.7.0
pytest==6.2.5
tqdm==4.64.1
protobuf>=3.9.2
loguru==0.6.0
sentence-transformers==2.2.2
catboost==1.2
shap==0.41.0
