--constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.6.3/constraints-3.10.txt"
apache-airflow[gcp]==2.6.3
sshtunnel>=0.4.0
# tests
pytest>=6.1
pytest-cov>=4.0.0
mock>=4.0.2
apache-airflow-providers-ssh>=3.2.0
apache-airflow-providers-slack>=6.0.0
apache-airflow-providers-mysql>=3.2.1
apache-airflow-providers-postgres>=5.2.2
google-cloud-secret-manager>=1.0.2
# extras
psycopg2-binary>=2.8
# addons
airflow-provider-great-expectations>=0.2.6
dbt-core==1.7.2
dbt-bigquery==1.7.2
re-data==0.11
click==8.1.4