# --constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.4.3/constraints-3.7.txt"
apache-airflow[gcp]==2.4.3
sshtunnel>=0.4.0
# pytest~=6.1
# pytest-cov==4.0.0
# psycopg2-binary~=2.8
# crcmod==1.7
gcsfs>=2023.1.0
# google-cloud-secret-manager==1.0.2
# mock==4.0.2
nltk>=3.8
apache-airflow-providers-slack>=7.0.0
# apache-airflow-providers-mysql==3.2.1
# apache-airflow-providers-postgres==5.2.2
# apache-airflow-providers-ssh==3.2.0
airflow-provider-great-expectations>=0.2.6
# pendulum==2.1.2