--constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.2.5/constraints-3.7.txt"
apache-airflow[gcp]==2.2.5
sshtunnel~=0.3
mysqlclient~=2.0
pytest~=6.1
pytest-cov==3.0.0
psycopg2-binary~=2.8
crcmod==1.7
gcsfs==2022.2.0
google-cloud-secret-manager==1.0.0
mock==4.0.2
nltk==3.6.6
apache-airflow-providers-slack==4.2.3
apache-airflow-providers-mysql==2.2.3
apache-airflow-providers-postgres==4.1.0
apache-airflow-providers-ssh==2.4.3
pendulum==2.1.2