pandas==2.2.2
typer==0.7.0
pytest==6.1.1
pandas-gbq==0.23.1
sentence_transformers==2.2.2
huggingface-hub==0.10.1
Pillow
loguru==0.6.0
psutil
tqdm
datetime
requests==2.31.0
gcsfs>= 2023.5.0
protobuf>=3.9.2
polars==0.19.12