openapi: 3.0.1
info:
  contact:
    email: contact@brevo.com
    name: Brevo Support
    url: https://account.brevo.com/support
  description: |
    Brevo provide a RESTFul API that can be used with any languages. With this API, you will be able to :
      - Manage your campaigns and get the statistics
      - Manage your contacts
      - Send transactional Emails and SMS
      - and much more...

    You can download our wrappers at https://github.com/orgs/brevo
    **Possible responses**
      | Code | Message |
      | :-------------: | ------------- |
      | 200  | OK. Successful Request  |
      | 201  | OK. Successful Creation |
      | 202  | OK. Request accepted |
      | 204  | OK. Successful Update/Deletion  |
      | 400  | Error. Bad Request  |
      | 401  | Error. Authentication Needed  |
      | 402  | Error. Not enough credit, plan upgrade needed  |
      | 403  | Error. Permission denied  |
      | 404  | Error. Object does not exist |
      | 405  | Error. Method not allowed  |
      | 406  | Error. Not Acceptable  |
      | 422  | Error. Unprocessable Entity |
  license:
    name: MIT
    url: http://opensource.org/licenses/MIT
  title: Brevo API
  version: 3.0.0
servers:
  - url: https://api.brevo.com/v3
security:
  - api-key: []
  - partner-key: []
paths:
  /account:
    get:
      operationId: getAccount
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    organization_id: 5fa2b8c123456789abcdef01
                    user_id: 1234567
                    enterprise: false
                    address:
                      city: New York
                      country: United States
                      street: 456 Business Ave
                      zipCode: '10001'
                    companyName: Acme Marketing Corp
                    email: michael.davis@example.com
                    firstName: Michael
                    lastName: Davis
                    dateTimePreferences:
                      timezone: America/New_York
                      timeFormat: '12'
                      dateFormat: mm-dd-yyyy
                    marketingAutomation:
                      enabled: true
                      key: ma8k2x9v4h7p3d6f1c5e8b2a
                    plan:
                      - credits: 250
                        creditsType: sendLimit
                        type: free
                      - credits: 15
                        creditsType: sendLimit
                        type: sms
                    planVerticals:
                      - planCategory: Marketing
                        planType: free
                        name: Free
                        status: active
                        startDate: '1751234567'
                        endDate: '1753826567'
                        users:
                          purchasedSeats: '1'
                          usedSeats: '1'
                        credits: '250'
                      - planCategory: Chat
                        planType: free
                        name: Free
                        status: active
                        startDate: '1735678901'
                        endDate: '1767214901'
                        users:
                          purchasedSeats: '1'
                          usedSeats: '1'
                      - planCategory: CRM
                        planType: free
                        name: Free
                        status: active
                        startDate: '1735678900'
                        endDate: '1767214900'
                        users:
                          purchasedSeats: '1'
                          usedSeats: '1'
                    relay:
                      data:
                        port: 587
                        relay: smtp-relay.brevo.com
                        userName: michael.davis@example.com
                      enabled: true
              schema:
                allOf:
                  - allOf:
                      - properties:
                          organization_id:
                            description: Unique identifier for the organization
                            example: 5fa2b8c123456789abcdef01
                            type: string
                          user_id:
                            description: Unique identifier for the user
                            example: 1234567
                            type: integer
                          enterprise:
                            description: Indicates if the account has enterprise features
                            example: false
                            type: boolean
                          companyName:
                            description: Name of the company
                            example: Acme Marketing Corp
                            type: string
                          email:
                            description: Login Email
                            example: michael.davis@example.com
                            format: email
                            type: string
                          firstName:
                            description: First Name
                            example: Michael
                            type: string
                          lastName:
                            description: Last Name
                            example: Davis
                            type: string
                        required:
                          - organization_id
                          - user_id
                          - enterprise
                          - companyName
                          - email
                          - firstName
                          - lastName
                        type: object
                      - properties:
                          address:
                            description: Address informations
                            properties:
                              city:
                                description: City information
                                example: New York
                                type: string
                              country:
                                description: Country information
                                example: United States
                                type: string
                              street:
                                description: Street information
                                example: 456 Business Ave
                                type: string
                              zipCode:
                                description: Zip Code information
                                example: '10001'
                                type: string
                            required:
                              - city
                              - country
                              - street
                              - zipCode
                            type: object
                          dateTimePreferences:
                            description: User's date and time preferences
                            properties:
                              timezone:
                                description: User's timezone setting
                                example: America/New_York
                                type: string
                              timeFormat:
                                description: Preferred time format (12 or 24 hour)
                                example: '12'
                                type: string
                              dateFormat:
                                description: Preferred date format
                                example: mm-dd-yyyy
                                type: string
                            required:
                              - timezone
                              - timeFormat
                              - dateFormat
                            type: object
                        required:
                          - address
                          - dateTimePreferences
                        type: object
                  - properties:
                      marketingAutomation:
                        properties:
                          enabled:
                            description: |-
                              Status of Marketing Automation Plateform activation
                              for your account (true=enabled, false=disabled)
                            example: false
                            type: boolean
                          key:
                            description: Marketing Automation Tracker ID
                            example: ma8k2x9v4h7p3d6f1c5e8b2a
                            type: string
                        required:
                          - enabled
                        type: object
                      plan:
                        description: Information about your plans and credits
                        items:
                          properties:
                            credits:
                              description: Remaining credits of the user
                              example: 250
                              format: float
                              type: number
                            creditsType:
                              description: |-
                                This is the type of the credit, "Send Limit" is one
                                of the possible types of credit of a user. "Send
                                Limit" implies the total number of emails you can
                                send to the subscribers in your account.
                              enum:
                                - sendLimit
                              example: sendLimit
                              type: string
                            endDate:
                              description: |-
                                Date of the period from which the plan will end
                                (Unix timestamp format)
                              example: '1753826567'
                              type: string
                            startDate:
                              description: |-
                                Date of the period from which the plan will start
                                (Unix timestamp format)
                              example: '1751234567'
                              type: string
                            type:
                              description: Displays the plan type of the user
                              enum:
                                - payAsYouGo
                                - free
                                - subscription
                                - sms
                              example: subscription
                              type: string
                          required:
                            - credits
                            - creditsType
                            - type
                          type: object
                        type: array
                      planVerticals:
                        description: Detailed information about different plan categories
                        items:
                          properties:
                            planCategory:
                              description: Category of the plan
                              enum:
                                - Marketing
                                - Chat
                                - CRM
                              example: Marketing
                              type: string
                            planType:
                              description: Type of plan within the category
                              example: free
                              type: string
                            name:
                              description: Name of the plan
                              example: Free
                              type: string
                            status:
                              description: Current status of the plan
                              enum:
                                - active
                                - inactive
                              example: active
                              type: string
                            startDate:
                              description: Plan start date (Unix timestamp)
                              example: '1751234567'
                              type: string
                            endDate:
                              description: Plan end date (Unix timestamp)
                              example: '1753826567'
                              type: string
                            users:
                              description: User seat information for the plan
                              properties:
                                purchasedSeats:
                                  description: Number of purchased user seats
                                  example: '1'
                                  type: string
                                usedSeats:
                                  description: Number of used user seats
                                  example: '1'
                                  type: string
                              required:
                                - purchasedSeats
                                - usedSeats
                              type: object
                            credits:
                              description: Credits allocated for this plan category (optional, may not be present for all plan categories)
                              example: '250'
                              type: string
                          required:
                            - planCategory
                            - planType
                            - name
                            - status
                            - startDate
                            - endDate
                            - users
                          type: object
                        type: array
                      relay:
                        description: Information about your transactional email account
                        properties:
                          data:
                            description: Data regarding the transactional email account
                            properties:
                              port:
                                description: Port used for SMTP Relay
                                example: 587
                                type: integer
                              relay:
                                description: URL of the SMTP Relay
                                example: smtp-relay.brevo.com
                                type: string
                              userName:
                                description: Email to use as login on transactional platform
                                example: michael.davis@example.com
                                format: email
                                type: string
                            required:
                              - port
                              - relay
                              - userName
                            type: object
                          enabled:
                            description: |-
                              Status of your transactional email Account
                              (true=Enabled, false=Disabled)
                            example: true
                            type: boolean
                        required:
                          - data
                          - enabled
                        type: object
                    required:
                      - plan
                      - relay
                    type: object
          description: Account information retrieved successfully
      summary: Get account details
      description: |
        Retrieves details of your Brevo account.

        **Use this to:**
        - Get account information (email, name, company, address)
        - Check plan details (type, credits, expiration)
        - Get relay information (for transactional emails)
        - Check Marketing Automation status
        - View date/time preferences and account settings
        - Access organization and user identifiers

        **Key information returned:**
        - Complete account details (organization ID, user ID, company information)
        - Address and contact information
        - Plan configurations and credit allocations across different verticals
        - Marketing Automation settings and tracker key
        - SMTP relay configuration for transactional emails
        - Date/time preferences and account settings
        - Enterprise features availability status

        **Important considerations:**
        - Provides comprehensive account overview for billing and configuration management
        - Essential for understanding current plan limitations and feature availability
        - Marketing Automation key required for advanced automation features
        - Plan verticals show detailed breakdown across Marketing, Chat, and CRM categories
        - Relay configuration crucial for transactional email setup and deliverability
        - Date/time preferences affect campaign scheduling and reporting displays
        - Enterprise status determines access to advanced features and sub-account management
      tags:
        - Account
  /corporate/group:
    post:
      description: This endpoint allows to create a group of sub-accounts
      requestBody:
        content:
          application/json:
            schema:
              properties:
                groupName:
                  description: The name of the group of sub-accounts
                  example: My group
                  type: string
                subAccountIds:
                  description: Pass the list of sub-account Ids to be included in the group
                  example:
                    - 234322
                    - 325553
                    - 893432
                  items:
                    format: int64
                    type: integer
                  type: array
              required:
                - groupName
              type: object
      responses:
        '201':
          content:
            application/json:
              examples:
                response:
                  value:
                    id: 659xxxxxxxxxxxxxxxx6ef9c8
              schema:
                properties:
                  id:
                    type: string
                type: object
          description: Group ID
        '400':
          content:
            application/json:
              example:
                code: invalid_parameter
                message: Invalid request
              schema:
                $ref: '#/components/schemas/errorModel'
          description: Bad request
      summary: Create a new group of sub-accounts
      tags:
        - Master account
  /corporate/group/unlink/{groupId}/subAccounts:
    put:
      description: This endpoint allows you to remove a sub-organization from a group.
      parameters:
        - description: Group id
          in: path
          name: groupId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                subAccountIds:
                  description: List of sub-account ids
                  example:
                    - 423432
                    - 234323
                    - 87678
                  items:
                    format: int64
                    type: integer
                  type: array
              required:
                - subAccountIds
              type: object
        description: List of sub-account ids
        required: true
      responses:
        '204':
          content: {}
          description: SubAccounts removed from the group
        '400':
          content:
            application/json:
              example:
                code: invalid_parameter
                message: subAccountIds should be array of numeric ids only
              schema:
                $ref: '#/components/schemas/errorModel'
          description: bad request
      summary: Delete sub-account from group
      tags:
        - Master account
  /corporate/group/{id}:
    delete:
      description: |-
        This endpoint allows you to delete a group of sub-organizations. When a
        group is deleted, the sub-organizations are no longer part of this group.
        The users associated with the group are no longer associated with the group
        once deleted.
      parameters:
        - description: Id of the group
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Group deleted
        '400':
          content:
            application/json:
              example:
                code: invalid_parameter
                message: Invalid request
              schema:
                $ref: '#/components/schemas/errorModel'
          description: bad request
      summary: Delete a group
      tags:
        - Master account
    get:
      description: |-
        This endpoint allows you to retrieve a specific group’s information such as
        the list of sub-organizations and the user associated with the group.
      parameters:
        - description: Id of the group of sub-organization
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              example:
                group:
                  createdAt: '2024-02-09T06:14:40+00:00'
                  groupName: My group
                  id: 5f926dba72a405440a4efc97
                sub-accounts:
                  - companyName: My sub organization
                    createdAt: '2024-02-09T06:14:40+00:00'
                    id: 7866556
                  - companyName: Your sub organization
                    createdAt: '2024-01-05T03:11:40+00:00'
                    id: 6563051
                users:
                  - email: my-user@my-org.com
                    firstName: John
                    lastName: Smith
                  - email: your-user@your-org.com
              schema:
                properties:
                  group:
                    properties:
                      createdAt:
                        description: Group creation date
                        type: string
                      groupName:
                        description: Name of the group
                        type: string
                      id:
                        description: Group id
                        type: string
                    type: object
                  sub-accounts:
                    items:
                      properties:
                        companyName:
                          description: Name of the sub-account organzation
                          type: string
                        createdAt:
                          description: Creation date of the sub-account organzation
                          type: string
                        id:
                          description: Id of the sub-account organzation
                          format: int64
                          type: integer
                      type: object
                    type: array
                  users:
                    items:
                      properties:
                        email:
                          description: Email address of the user
                          type: string
                        firstName:
                          description: First name of the user
                          type: string
                        lastName:
                          description: Last name of the user
                          type: string
                      type: object
                    type: array
                type: object
          description: Group details
      summary: GET a group details
      tags:
        - Master account
    put:
      description: This endpoint allows to update a group of sub-accounts
      parameters:
        - description: Id of the group
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                groupName:
                  description: The name of the group of sub-accounts
                  example: My group
                  type: string
                subAccountIds:
                  description: Pass the list of sub-account Ids to be included in the group
                  example:
                    - 234322
                    - 325553
                    - 893432
                  items:
                    format: int64
                    type: integer
                  type: array
              type: object
        description: Group details to be updated.
        required: true
      responses:
        '204':
          content: {}
          description: Group details updated
        '400':
          content:
            application/json:
              example:
                code: invalid_parameter
                message: Invalid request
              schema:
                $ref: '#/components/schemas/errorModel'
          description: bad request
      summary: Update a group of sub-accounts
      tags:
        - Master account
  /corporate/groups:
    get:
      description: This endpoint allows you to list all groups created on your Admin account.
      operationId: getSubAccountGroups
      responses:
        '200':
          content:
            application/json:
              example:
                - groupName: My group 1
                  id: d3b142c709d6ed67ef1cd903
                - groupName: My group 2
                  id: a5b192a709d6ed67ef8fd922
                - groupName: My group 3
                  id: bbb142c709d6ed67ef1cd910
              schema:
                items:
                  properties:
                    groupName:
                      description: The name of the group of sub-accounts
                      type: string
                    id:
                      description: Unique id of the group
                      type: string
                  type: object
                type: array
          description: list of all the sub-account groups
      summary: Get the list of groups
      tags:
        - Master account
  /corporate/invited/users:
    get:
      description: |-
        This endpoint allows you to list all Admin users of your Admin account. You
        can filter users by type (active or pending) and paginate results using
        offset and limit.
      operationId: getCorporateInvitedUsersList
      parameters:
        - name: type
          description: |-
            User type (active | pending). This is required if offset is provided for
            limited result.
          in: query
          schema:
            type: string
        - name: offset
          description: |-
            Page number for the result set. This is optional, default value will be
            the 1st page.
          in: query
          schema:
            type: integer
        - name: limit
          description: |-
            Number of users to be displayed on each page. This is optional, the
            default limit is 20, but max allowed limit is 100.
          in: query
          schema:
            type: integer
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    users:
                      - email: master-user2@company.com
                        feature_access:
                          analytics:
                            - download_data
                            - create_alerts
                            - my_looks
                            - explore_create
                          api_keys:
                            - all
                          apps_management:
                            - none
                          create_sub_organizations:
                            - all
                          manage_sub_organizations:
                            - all
                          my_plan:
                            - all
                            - all
                          sub_organization_groups:
                            - create
                            - edit_delete
                          user_management:
                            - none
                        groups:
                          - id: 65b1f22c09d6ed67ef1cd123,
                            name: Test Group1
                          - id: 43b1f16c09db4d67af1cd342,
                            name: Test Group2
                        is_owner: false
                        status: active
                      - email: master-user3@company.com
                        feature_access:
                          analytics:
                            - create_alerts
                            - my_looks
                          api_keys:
                            - none
                          apps_management:
                            - all
                          create_sub_organizations:
                            - all
                          manage_sub_organizations:
                            - all
                          my_plan:
                            - none
                            - none
                          sub_organization_groups:
                            - edit_delete
                          user_management:
                            - all
                        groups: []
                        is_owner: false
                        status: active
              schema:
                properties:
                  users:
                    description: Get invited users list
                    items:
                      properties:
                        email:
                          description: Email address of the user.
                          example: master-user@company.com
                          type: string
                        feature_access:
                          description: |-
                            Feature accessiblity given to the user. (Required only
                            if status is active)
                          properties:
                            analytics:
                              description: Analytics dashboard accessibility
                              items:
                                example:
                                  - download_data
                                  - create_alerts
                                  - my_looks
                                  - explore_create
                                type: string
                              type: array
                            api_keys:
                              description: Api keys accessiblity.
                              items:
                                example: all / none
                                type: string
                              type: array
                            apps_management:
                              description: |-
                                Apps management accessiblity | Not available in
                                ENTv2
                              items:
                                example: all / none
                                type: string
                              type: array
                            create_sub_organizations:
                              description: |-
                                Authorization to create sub-organization in the
                                admin account. If the user creating the
                                sub-organization, belongs to a group, the user must
                                choose a group at the sub-organization creation.
                              items:
                                example: all / none
                                type: string
                              type: array
                            manage_sub_organizations:
                              description: |-
                                Authorization to manage and access sub-organizations
                                in the admin account.
                              items:
                                example: all / none
                                type: string
                              type: array
                            my_plan:
                              description: My plan accessiblity.
                              items:
                                example: all / none
                                type: string
                              type: array
                            sub_organization_groups:
                              description: |-
                                Group creation, modification or deletion
                                accessibility
                              items:
                                example:
                                  - create
                                  - edit_delete
                                type: string
                              type: array
                            user_management:
                              description: User management accessiblity.
                              items:
                                example: all / none
                                type: string
                              type: array
                          type: object
                        groups:
                          description: Admin user groups list
                          properties:
                            id:
                              description: group id
                              example: a5c4f22c08d9ed37ef1ca342
                              type: string
                            name:
                              description: group name
                              example: My group
                              type: string
                          type: object
                        is_owner:
                          description: Flag for indicating is user owner of the organization.
                          example: false
                          type: string
                        status:
                          description: Status of the invited user.
                          example: active
                          type: string
                      required:
                        - groups
                        - email
                        - is_owner
                        - status
                        - feature_access
                      type: object
                    type: array
                type: object
          description: list of all admin users
      summary: Get the list of all admin users
      tags:
        - Master account
  /corporate/ip:
    get:
      description: |-
        This endpoint allows you to retrieve the list of active IPs on your Admin
        account
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    - domain: example.com
                      ip: 192.168.1.1
                      transactional: true
                    - domain: example.com
                      ip: 192.168.1.2
                      transactional: false
              schema:
                items:
                  properties:
                    domain:
                      type: string
                    ip:
                      type: string
                    transactional:
                      type: boolean
                  type: object
                type: array
          description: List of all IPs
      summary: List of all IPs
      tags:
        - Master account
  /corporate/masterAccount:
    get:
      description: This endpoint will provide the details of the master account.
      responses:
        '200':
          content:
            application/json:
              example:
                billingInfo:
                  address:
                    countryCode: IN
                    locality: Pandav Nagar, New Delhi
                    postalCode: '560048'
                    stateCode: UP
                    streetAddress: C-92
                  companyName: Corp Sample 1-1
                  email: sample@example.com
                  name:
                    familyName: Pandit
                    givenName: Uday
                companyName: Corp Sample 1-1
                currencyCode: INR
                email: sample@example.com
                id: 1003286
                planInfo:
                  currencyCode: INR
                  features:
                    - name: MULTI_USER
                      quantity: 10
                      remaining: 0
                      unitValue: 1
                      used: 15
                    - name: ADVANCED_REPORTING
                      quantity: 12
                      remaining: 11
                      unitValue: 1
                      used: 1
                    - name: INBOX
                      quantity: 10
                      remaining: 0
                      unitValue: 1
                      used: 10
                    - name: LANDING_PAGE
                      quantity: 10
                      remaining: 0
                      unitValue: 5
                      used: 11
                    - name: RECURRING_CREDITS
                      quantity: 500
                      remaining: 499
                      unitValue: 1
                      used: 1
                  nextBillingAt: 1637739295
                  planPeriod: month
                  price: 2100
                  subAccounts: 15
                timezone: Europe/Paris
              schema:
                properties:
                  billingInfo:
                    description: Billing details of the master account organization
                    properties:
                      address:
                        description: Billing address of master account
                        properties:
                          countryCode:
                            description: Country code
                            type: string
                          locality:
                            description: Locality
                            type: string
                          postalCode:
                            description: Postal code
                            type: string
                          stateCode:
                            description: State code
                            type: string
                          streetAddress:
                            description: Street address
                            type: string
                        type: object
                      companyName:
                        description: Company name of master account
                        type: string
                      email:
                        description: Billing email id of master account
                        type: string
                      name:
                        description: Billing name of master account holder
                        properties:
                          familyName:
                            description: Last name for billing
                            type: string
                          givenName:
                            description: First name for billing
                            type: string
                        type: object
                    type: object
                  companyName:
                    description: Company name of master account organization
                    type: string
                  currencyCode:
                    description: Currency code of the master account organization
                    type: string
                  email:
                    description: Email id of master account
                    type: string
                  id:
                    description: Unique identifier of the master account organization
                    format: int64
                    type: integer
                  planInfo:
                    description: Plan details
                    properties:
                      currencyCode:
                        description: Plan currency
                        type: string
                      features:
                        description: List of provided features in the plan
                        items:
                          properties:
                            name:
                              description: Name of the feature
                              type: string
                            quantity:
                              description: Quantity provided in the plan
                              format: int64
                              type: integer
                            quantityWithOverages:
                              description: |-
                                Quantity with overages provided in the plan (only
                                applicable on ENTv2)
                              format: int64
                              type: integer
                            remaining:
                              description: Quantity remaining in the plan
                              format: int64
                              type: integer
                            unitValue:
                              description: Unit value of the feature
                              type: string
                            used:
                              description: Quantity consumed by master
                              format: int64
                              type: integer
                            usedOverages:
                              description: |-
                                Quantity consumed by sub-organizations over the
                                admin plan limit (only applicable on ENTv2)
                              format: int64
                              type: integer
                          type: object
                        type: array
                      nextBillingAt:
                        description: Timestamp of next billing date
                        format: int64
                        type: integer
                      planPeriod:
                        description: Plan period type
                        enum:
                          - month
                          - year
                        type: string
                      price:
                        description: Plan amount
                        type: number
                      subAccounts:
                        description: Number of sub-accounts
                        type: integer
                    type: object
                  timezone:
                    description: Timezone of the master account organization
                    type: string
                type: object
          description: Master account details
        '400':
          $ref: '#/components/responses/errorModel'
      summary: Get the details of requested master account
      tags:
        - Master account
  /corporate/ssoToken:
    post:
      description: |-
        This endpoint generates an SSO token to authenticate and access the admin
        account using the endpoint
        https://account-app.brevo.com/account/login/corporate/sso/[token], where
        [token] will be replaced by the actual token.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email:
                  description: User email of admin account
                  example: vipin+ent-user@brevo.com
                  type: string
              required:
                - email
              type: object
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    token: 5cadaxxxxxxxxxxxxxxxxxxxx5a179f85a0
              schema:
                $ref: '#/components/schemas/getSsoToken'
          description: Session token
        '400':
          content:
            application/json:
              example:
                code: invalid_parameter
                message: Invalid email address
              schema:
                $ref: '#/components/schemas/errorModel'
          description: bad request
        '403':
          content:
            application/json:
              examples:
                response:
                  value:
                    code: permission_denied
                    message: Access forbidden.
              schema:
                $ref: '#/components/schemas/errorModel'
          description: Current account is not an admin account
      summary: Generate SSO token to access admin account
      tags:
        - Master account
  /corporate/subAccount:
    get:
      description: |-
        This endpoint will provide the list all the sub-accounts of the master
        account.
      parameters:
        - description: Index of the first sub-account in the page
          in: query
          name: offset
          required: true
          schema:
            type: integer
        - description: Number of sub-accounts to be displayed on each page
          in: query
          name: limit
          required: true
          schema:
            type: integer
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    count: 3
                    subAccounts:
                      - active: true,
                        companyName: Company1
                        createdAt: 1631523176
                        groups:
                          - id: 5f8f8c3b5f56a02d4433b3a8
                            name: Group 1
                          - id: 4fbf3c3b1f56a02ac465b1a0
                            name: Group 2
                        id: 4043629
                      - active: true
                        companyName: Company2
                        createdAt: 1629439311
                        groups: []
                        id: 3984002
                      - active: true
                        companyName: Company3
                        createdAt: 1614713641
                        groups: []
                        id: 3524191
              schema:
                properties:
                  count:
                    description: Total number of subaccounts
                    type: integer
                  subAccounts:
                    items:
                      properties:
                        active:
                          description: Whether the sub-account is active or not
                          type: boolean
                        companyName:
                          description: Name of the sub-account company
                          type: string
                        createdAt:
                          description: Timestamp when the sub-account was created
                          format: int64
                          type: integer
                        groups:
                          description: Group details
                          items:
                            properties:
                              id:
                                description: Group identifier
                                type: string
                              name:
                                description: Name of the group
                                type: string
                            type: object
                          type: array
                        id:
                          description: id of the sub-account
                          format: int64
                          type: integer
                      required:
                        - id
                        - companyName
                        - active
                        - createdAt
                        - groups
                      type: object
                    type: array
                type: object
          description: Sub-accounts list
        '400':
          $ref: '#/components/responses/errorModel'
      summary: Get the list of all the sub-accounts of the master account.
      tags:
        - Master account
    post:
      description: This endpoint will create a new sub-account under a master account
      requestBody:
        content:
          application/json:
            schema:
              example:
                companyName: Test Sub-account
                email: test-sub@example.com
                groupIds:
                  - 5f8f8c3b5f56a02d4433b3a7
                  - 5f8f8c3b5f56a02d4433b3a8
                language: fr
                timezone: Europe/Paris
              properties:
                companyName:
                  description: Set the name of the sub-account company
                  type: string
                email:
                  description: Email address for the organization
                  type: string
                groupIds:
                  description: Set the group(s) for the sub-account
                  items:
                    type: string
                  type: array
                language:
                  description: Set the language of the sub-account
                  enum:
                    - en
                    - fr
                    - it
                    - es
                    - pt
                    - de
                  type: string
                timezone:
                  description: Set the timezone of the sub-account
                  type: string
              required:
                - companyName
                - email
              type: object
        description: Request body with sub-account organization name
        required: true
      responses:
        '201':
          content:
            application/json:
              examples:
                response:
                  value:
                    id: 4109344
              schema:
                properties:
                  id:
                    description: ID of the sub-account created
                    example: 5
                    format: int64
                    type: integer
                required:
                  - id
                type: object
          description: Created sub-account ID
        '400':
          content:
            application/json:
              example:
                code: missing_parameter
                message: Missing companyName attribute in the request
              schema:
                $ref: '#/components/schemas/errorModel'
          description: Bad request
      summary: Create a new sub-account under a master account.
      tags:
        - Master account
  /corporate/subAccount/ip/associate:
    post:
      description: This endpoint allows to associate an IP to sub-accounts
      requestBody:
        content:
          application/json:
            schema:
              properties:
                ids:
                  description: |-
                    Pass the list of sub-account Ids to be associated with the IP
                    address
                  example:
                    - 234322
                    - 325553
                    - 893432
                  items:
                    format: int64
                    type: integer
                  type: array
                ip:
                  description: IP address
                  example: 103.11.32.88
                  type: string
              required:
                - ip
                - ids
              type: object
      responses:
        '201':
          content:
            application/json:
              examples:
                response:
                  value: []
              schema:
                type: object
          description: IP has been associated with sub-accounts successfully
        '400':
          content:
            application/json:
              example:
                code: invalid id
                message: Invalid request
              schema:
                $ref: '#/components/schemas/errorModel'
          description: Bad request
      summary: Associate an IP to sub-accounts
      tags:
        - Master account
  /corporate/subAccount/ip/dissociate:
    put:
      description: This endpoint allows to dissociate an IP from sub-accounts
      requestBody:
        content:
          application/json:
            schema:
              properties:
                ids:
                  description: |-
                    Pass the list of sub-account Ids to be dissociated from the IP
                    address
                  example:
                    - 234322
                    - 325553
                    - 893432
                  items:
                    format: int64
                    type: integer
                  type: array
                ip:
                  description: IP address
                  example: 103.11.32.88
                  type: string
              required:
                - ip
                - ids
              type: object
      responses:
        '204':
          content: {}
          description: IP has been dissociated from sub-accounts successfully
        '400':
          content:
            application/json:
              example:
                code: invalid id
                message: Invalid request
              schema:
                $ref: '#/components/schemas/errorModel'
          description: Bad request
      summary: Dissociate an IP to sub-accounts
      tags:
        - Master account
  /corporate/subAccount/key:
    post:
      description: This endpoint will generate an API v3 key for a sub-account
      requestBody:
        content:
          application/json:
            schema:
              properties:
                id:
                  description: Id of the sub-account organization
                  example: 3232323
                  format: int64
                  type: integer
                name:
                  description: Name of the API key
                  example: My Api Key
                  type: string
              required:
                - id
                - name
              type: object
      responses:
        '201':
          content:
            application/json:
              examples:
                response:
                  value:
                    key: xkeysib-21881axxxxxcc92e04-mIrexxxx7z
                    status: success
              schema:
                properties:
                  key:
                    description: API key
                    example: xkeysib-21881axxxxxcc92e04-mIrexxxx7z
                    type: string
                  status:
                    description: Status of the API operation.
                    example: success
                    type: string
                required:
                  - status
                  - key
                type: object
          description: API key
        '400':
          content:
            application/json:
              example:
                code: invalid_parameter
                message: id should be a positive number
              schema:
                $ref: '#/components/schemas/errorModel'
          description: bad request
      summary: Create an API key for a sub-account
      tags:
        - Master account
  /corporate/subAccount/ssoToken:
    post:
      description: |-
        This endpoint generates an sso token to authenticate and access a
        sub-account of the master using the account endpoint
        https://account-app.brevo.com/account/login/sub-account/sso/[token], where
        [token] will be replaced by the actual token.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email:
                  description: User email of sub-account organization
                  example: vipin+subaccount@brevo.com
                  type: string
                id:
                  description: Id of the sub-account organization
                  example: 3232323
                  format: int64
                  type: integer
                target:
                  description: |-
                    **Set target after login success** * **automation** - Redirect
                    to Automation after login * **email_campaign** - Redirect to
                    Email Campaign after login * **contacts** - Redirect to Contacts
                    after login * **landing_pages** - Redirect to Landing Pages
                    after login * **email_transactional** - Redirect to Email
                    Transactional after login * **senders** - Redirect to Senders
                    after login * **sms_campaign** - Redirect to Sms Campaign after
                    login * **sms_transactional** - Redirect to Sms Transactional
                    after login
                  enum:
                    - automation
                    - email_campaign
                    - contacts
                    - landing_pages
                    - email_transactional
                    - senders
                    - sms_campaign
                    - sms_transactional
                  example: contacts
                  type: string
                url:
                  description: |-
                    Set the full target URL after login success. The user will land
                    directly on this target URL after login
                  example: https://app.brevo.com/senders/domain/list
                  type: string
              required:
                - id
              type: object
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    token: 5cadaxxxxxxxxxxxxxxxxxxxx5a179f85a0
              schema:
                $ref: '#/components/schemas/getSsoToken'
          description: Session token
        '400':
          content:
            application/json:
              example:
                code: invalid_parameter
                message: Invalid sub-account id.
              schema:
                $ref: '#/components/schemas/errorModel'
          description: bad request
        '403':
          content:
            application/json:
              examples:
                response:
                  value:
                    code: permission_denied
                    message: Access forbidden.
              schema:
                $ref: '#/components/schemas/errorModel'
          description: Current account is not a master account
      summary: Generate SSO token to access sub-account
      tags:
        - Master account
  /corporate/subAccount/{id}:
    delete:
      parameters:
        - description: Id of the sub-account organization to be deleted
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        '204':
          description: Returned when sub-account is deleted succesfully
        '400':
          content:
            application/json:
              example:
                code: missing_parameter
                message: Sub-account 2039dfsddf885 is not valid
              schema:
                $ref: '#/components/schemas/errorModel'
          description: bad request
        '404':
          content:
            application/json:
              example:
                code: document_not_found
                message: Sub-account 2039885 was not found
              schema:
                $ref: '#/components/schemas/errorModel'
          description: sub-account not found
      summary: Delete a sub-account
      tags:
        - Master account
    get:
      description: This endpoint will provide the details for the specified sub-account company
      parameters:
        - description: Id of the sub-account organization
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        '200':
          content:
            application/json:
              example:
                companyName: API-Sub-26thOct21-4
                email: uday+1@brevo.com
                groups:
                  - id: 5f8f8c3b5f56a02d4433b3a7
                    name: Group 1
                  - id: 5f8f8c3b5f56a02d4433b3a8
                    name: Group 2
                name: Uday Pandit
                planInfo:
                  credits:
                    emails:
                      quantity: 2000
                      remaining: 1955
                    externalFeeds:
                      quantity: 1
                      remaining: 1
                    sms:
                      quantity: 2000
                      remaining: 1955
                    whatsapp:
                      quantity: 100
                      remaining: 50
                    wpSubscribers:
                      quantity: 2000
                      remaining: 1955
                  features:
                    inbox:
                      quantity: 20
                      remaining: 12
                    landingPage:
                      quantity: 25
                      remaining: 14
                    salesUsers:
                      quantity: 30
                      remaining: 14
                    users:
                      quantity: 30
                      remaining: 14
                  planType: paid
              schema:
                properties:
                  companyName:
                    description: Sub-account company name
                    type: string
                  email:
                    description: Email id of the sub-account organization
                    type: string
                  groups:
                    description: List of groups associated with the sub-account
                    items:
                      properties:
                        id:
                          description: Group id
                          type: string
                        name:
                          description: Name of the group
                          type: string
                      type: object
                    type: array
                  name:
                    description: Name of the sub-account user
                    type: string
                  planInfo:
                    description: Sub-account plan details
                    properties:
                      credits:
                        description: Credits quota and remaining credits on the sub-account
                        properties:
                          emails:
                            description: Email credits remaining on the sub-account
                            properties:
                              quantity:
                                description: Quantity of email messaging limits provided
                                format: int64
                                type: integer
                              remaining:
                                description: Available email messaging limits for use
                                format: int64
                                type: integer
                            type: object
                          externalFeeds:
                            description: externalFeeds credits remaining on the sub-account
                            properties:
                              quantity:
                                description: |-
                                  Quantity of externalFeeds messaging limits
                                  provided
                                format: int64
                                type: integer
                              remaining:
                                description: Available externalFeeds messaging limits for use
                                format: int64
                                type: integer
                            type: object
                          sms:
                            description: SMS credits remaining on the sub-account
                            properties:
                              quantity:
                                description: Quantity of SMS messaging limits provided
                                format: int64
                                type: integer
                              remaining:
                                description: Available SMS messaging limits for use
                                format: int64
                                type: integer
                            type: object
                          whatsapp:
                            description: Whatsapp credits remaining on the sub-account
                            properties:
                              quantity:
                                description: Quantity of whatsapp messaging limits provided
                                format: int64
                                type: integer
                              remaining:
                                description: Available whatsapp messaging limits for use
                                format: int64
                                type: integer
                            type: object
                          wpSubscribers:
                            description: Push credits remaining on the sub-account
                            properties:
                              quantity:
                                description: Quantity of Push sending limits provided
                                format: int64
                                type: integer
                              remaining:
                                description: Available Push sending limits for use
                                format: int64
                                type: integer
                            type: object
                        type: object
                      features:
                        description: Features available on the sub-account
                        properties:
                          inbox:
                            description: Inbox details / Not applicable on ENTv2
                            properties:
                              quantity:
                                description: Quantity of inbox provided
                                format: int64
                                type: integer
                              remaining:
                                description: Available inboxes for use
                                format: int64
                                type: integer
                            type: object
                          landingPage:
                            description: Landing page details / Not applicable on ENTv2
                            properties:
                              quantity:
                                description: Quantity of landing pages provided
                                format: int64
                                type: integer
                              remaining:
                                description: Available landing pages for use
                                format: int64
                                type: integer
                            type: object
                          salesUsers:
                            description: |-
                              Sales and service users to use phone, sales and
                              conversations
                            properties:
                              quantity:
                                description: Quantity of sales users provided
                                format: int64
                                type: integer
                              remaining:
                                description: Available sales users for use
                                format: int64
                                type: integer
                            type: object
                          users:
                            description: Marketing users to manage the marketing channels
                            properties:
                              quantity:
                                description: Quantity of marketing users provided
                                format: int64
                                type: integer
                              remaining:
                                description: Available marketing users for use
                                format: int64
                                type: integer
                            type: object
                        type: object
                      planType:
                        description: type of the plan
                        type: string
                    type: object
                type: object
          description: Sub-account organization details
        '400':
          $ref: '#/components/responses/errorModel'
      summary: Get sub-account details
      tags:
        - Master account
  /corporate/subAccount/{id}/applications/toggle:
    put:
      description: |-
        API endpoint for the Corporate owner to enable/disable applications on the
        sub-account
      parameters:
        - description: Id of the sub-account organization (mandatory)
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              description: List of enable/disable applications on the sub-account
              example:
                landing-pages: true
                meetings: true
                sms-campaigns: false
                web-push: false
                whatsapp: true
              properties:
                automation:
                  description: |-
                    Set this field to enable or disable Automation on the
                    sub-account
                  type: boolean
                conversations:
                  description: |-
                    Set this field to enable or disable Conversations on the
                    sub-account
                  type: boolean
                crm:
                  description: Set this field to enable or disable Sales CRM on the sub-account
                  type: boolean
                email-campaigns:
                  description: |-
                    Set this field to enable or disable Email Campaigns on the
                    sub-account
                  type: boolean
                facebook-ads:
                  description: |-
                    Set this field to enable or disable Facebook ads on the
                    sub-account
                  type: boolean
                inbox:
                  description: |-
                    Set this field to enable or disable Inbox on the sub-account /
                    Not applicable on ENTv2
                  type: boolean
                landing-pages:
                  description: |-
                    Set this field to enable or disable Landing pages on the
                    sub-account
                  type: boolean
                meetings:
                  description: Set this field to enable or disable Meetings on the sub-account
                  type: boolean
                sms-campaigns:
                  description: |-
                    Set this field to enable or disable SMS Marketing on the
                    sub-account
                  type: boolean
                transactional-emails:
                  description: |-
                    Set this field to enable or disable Transactional Email on the
                    sub-account
                  type: boolean
                transactional-sms:
                  description: |-
                    Set this field to enable or disable Transactional SMS on the
                    sub-account
                  type: boolean
                web-push:
                  description: Set this field to enable or disable Web Push on the sub-account
                  type: boolean
                whatsapp:
                  description: |-
                    Set this field to enable or disable Whatsapp campaigns on the
                    sub-account
                  type: boolean
              type: object
        description: List of applications to activate or deactivate on a sub-account
        required: true
      responses:
        '204':
          content: {}
          description: Sub-account application(s) enabled/disabled
        '400':
          $ref: '#/components/responses/errorModel'
        '403':
          content:
            application/json:
              examples:
                response:
                  value:
                    code: permission_denied
                    message: Access forbidden.
              schema:
                $ref: '#/components/schemas/errorModel'
          description: Current account is not a master account
      summary: Enable/disable sub-account application(s)
      tags:
        - Master account
  /corporate/subAccount/{id}/plan:
    put:
      description: |-
        This endpoint will update the sub-account plan. On the Corporate solution
        new version v2, you can set an unlimited number of credits in your
        sub-organization. Please pass the value “-1" to set the consumable in
        unlimited mode.
      parameters:
        - description: Id of the sub-account organization
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              description: Details of the plan to be changed
              example:
                credits:
                  email: 5000
                  externalFeeds: 1
                  sms: 2000
                  whatsapp: 100
                  wpSubscribers: -1
                features:
                  inbox: 10
                  landingPage: 20
                  salesUsers: 6
                  users: 15
              properties:
                credits:
                  description: Credit details to update
                  properties:
                    email:
                      description: |-
                        Number of email credits | Pass the value -1 for unlimited
                        emails in ENTv2 only
                      format: int64
                      type: integer
                    externalFeeds:
                      description: |-
                        Number of externalFeeds credits, possible values are 0 or 1
                        |available in ENTv2 only
                      format: int64
                      type: number
                    sms:
                      description: |-
                        Number of SMS credits | Pass the value -1 for unlimited SMS
                        in ENTv2 only
                      format: float
                      type: number
                    whatsapp:
                      description: |-
                        Number of whatsapp credits | Pass the value -1 for unlimited
                        whatsapp in ENTv2 only
                      format: float
                      type: number
                    wpSubscribers:
                      description: |-
                        Number of Push credits, possible value is 0 and -1 |
                        available in ENT-v2 only
                      format: int64
                      type: integer
                  type: object
                features:
                  description: Features details to update
                  properties:
                    inbox:
                      description: Number of inboxes / Not required on ENTv2
                      format: int64
                      type: integer
                    landingPage:
                      description: Number of landing pages
                      format: int64
                      type: integer
                    salesUsers:
                      description: Number of sales and service users | only available in ENT-V2
                      format: int64
                      type: integer
                    users:
                      description: Number of multi-users
                      format: int64
                      type: integer
                  type: object
              type: object
        description: Values to update a sub-account plan
        required: true
      responses:
        '204':
          content: {}
          description: Sub account plan updated
        '400':
          $ref: '#/components/responses/errorModel'
        '403':
          content:
            application/json:
              examples:
                response:
                  value:
                    code: permission_denied
                    message: Access forbidden.
              schema:
                $ref: '#/components/schemas/errorModel'
          description: Current account is not a master account
      summary: Update sub-account plan
      tags:
        - Master account
  /corporate/subAccounts/plan:
    put:
      description: |-
        This endpoint will update multiple sub-accounts plan. On the Corporate
        solution new version v2, you can set an unlimited number of credits in your
        sub-organization. Please pass the value “-1" to set the consumable in
        unlimited mode.
      requestBody:
        content:
          application/json:
            schema:
              description: Details of the plan to be changed
              example:
                credits:
                  email: 5000
                  externalFeeds: 1
                  sms: 2000
                  whatsapp: 100
                  wpSubscribers: -1
                features:
                  landingPage: 20
                  salesUsers: 6
                  users: 15
                subAccountIds:
                  - 4534345
                  - 987893
                  - 876785
              properties:
                credits:
                  description: Credit details to update
                  properties:
                    email:
                      description: |-
                        Number of email credits | Pass the value -1 for unlimited
                        emails in ENTv2 only
                      format: int64
                      type: integer
                    externalFeeds:
                      description: |-
                        Number of externalFeeds credits, possible values are 0 or 1
                        |available in ENTv2 only
                      format: int64
                      type: number
                    sms:
                      description: |-
                        Number of SMS credits | Pass the value -1 for unlimited SMS
                        in ENTv2 only
                      format: float
                      type: number
                    whatsapp:
                      description: |-
                        Number of whatsapp credits | Pass the value -1 for unlimited
                        whatsapp in ENTv2 only
                      format: float
                      type: number
                    wpSubscribers:
                      description: |-
                        Number of Push credits, possible value is 0 and -1 |
                        available in ENT-v2 only
                      format: int64
                      type: integer
                  type: object
                features:
                  description: Features details to update
                  properties:
                    landingPage:
                      description: Number of landing pages
                      format: int64
                      type: integer
                    salesUsers:
                      description: Number of sales and service users | only available in ENT-V2
                      format: int64
                      type: integer
                    users:
                      description: Number of multi-users
                      format: int64
                      type: integer
                  type: object
                subAccountIds:
                  description: List of sub-account ids
                  items:
                    format: int64
                    type: integer
                  type: array
              type: object
        description: Values to update sub-accounts plan
        required: true
      responses:
        '202':
          content: {}
          description: Request accepted
        '400':
          $ref: '#/components/responses/errorModel'
        '403':
          content:
            application/json:
              examples:
                response:
                  value:
                    code: permission_denied
                    message: Access forbidden.
              schema:
                $ref: '#/components/schemas/errorModel'
          description: Current account is not a master account
      summary: Update sub-accounts plan
      tags:
        - Master account
  /corporate/user/invitation/send:
    post:
      description: |-
        `This endpoint allows you to invite a member to manage the Admin account
        Features and their respective permissions are as below: - `my_plan`:
          - "all"
        - `api`:
          - "none"
        - `user_management`:
          - "all"
        - `app_management` | Not available in ENTv2:
          - "all"
        - `sub_organization_groups`
          - "create"
          - "edit_delete"
        - `create_sub_organizations`
          - "all"
        - `manage_sub_organizations`
          - "all"
        - `analytics`
          - "download_data"
          - "create_alerts"
          - "my_looks"
          - "explore_create"
        - `security`
          - "all"
        **Note**: - If `all_features_access: false` then only privileges are
        required otherwise if `true` then it's assumed that all permissions will be
        there for the invited admin user.
      operationId: inviteAdminUser
      requestBody:
        content:
          application/json:
            schema:
              properties:
                all_features_access:
                  description: All access to the features
                  enum:
                    - true
                    - false
                  example: true
                  type: boolean
                email:
                  description: Email address for the organization
                  example: inviteuser@example.com
                  format: email
                  type: string
                groupIds:
                  description: Ids of Group
                  example:
                    - 2baxxxxxxxxxxxxxxxxxxxxxcaa
                    - 65axxxxxxxxxxxxxxxxxxxxxc5a
                  items:
                    description: Group Id
                    type: string
                  type: array
                privileges:
                  items:
                    description: Privileges given to the user
                    example:
                      - feature: my_plan
                        permissions:
                          - all
                      - feature: api
                        permissions:
                          - none
                      - feature: user_management
                        permissions:
                          - all
                      - feature: app_management
                        permissions:
                          - all
                      - feature: sub_organization_groups
                        permissions:
                          - create
                          - edit_delete
                      - feature: create_sub_organizations
                        permissions:
                          - all
                      - feature: manage_sub_organizations
                        permissions:
                          - all
                      - feature: analytics
                        permissions:
                          - download_data
                          - create_alerts
                          - my_looks
                          - explore_create
                      - feature: security
                        permissions:
                          - all
                    properties:
                      feature:
                        description: Feature name
                        enum:
                          - my_plan
                          - api
                          - user_management
                          - app_management
                          - sub_organization_groups
                          - create_sub_organizations
                          - manage_sub_organizations
                          - analytics
                          - security
                        example: user_management
                        type: string
                      permissions:
                        description: Permissions for a given feature
                        items:
                          enum:
                            - all
                            - none
                            - create
                            - edit_delete
                            - download_data
                            - create_alerts
                          example: '''all'', ''none'', ''create'', ''edit_delete'', ''download_data'', ''create_alerts'''
                          type: string
                        type: array
                    type: object
                  type: array
              required:
                - email
                - all_features_access
                - privileges
              type: object
        description: Payload to send an invitation
        required: true
      responses:
        '201':
          content:
            application/json:
              examples:
                response:
                  value:
                    id: 659xxxxxxxxxxxxxxxx6ef9c8
              schema:
                properties:
                  id:
                    type: string
                type: object
          description: Invitation ID
        '400':
          $ref: '#/components/responses/errorModel'
      summary: Send invitation to an admin user
      tags:
        - Master account
  /corporate/user/invitation/{action}/{email}:
    put:
      description: |
        This endpoint will allow the user to:
        - Resend an admin user invitation
        - Cancel an admin user invitation
      parameters:
        - description: Action to be performed (cancel / resend)
          in: path
          name: action
          required: true
          schema:
            enum:
              - resend
              - cancel
            type: string
        - description: Email address of the recipient
          in: path
          name: email
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              example:
                message: Invitation resent successfully
              schema:
                properties:
                  message:
                    description: Action success message
                    type: string
                type: object
          description: Response of the action performed
        '400':
          content:
            application/json:
              example:
                code: invalid_parameter
                message: Invitation not found
              schema:
                $ref: '#/components/schemas/errorModel'
          description: bad request
      summary: Resend / cancel admin user invitation
      tags:
        - Master account
  /corporate/user/revoke/{email}:
    delete:
      description: |-
        This endpoint allows to revoke/remove an invited member of your Admin
        account
      parameters:
        - description: Email of the invited user
          in: path
          name: email
          required: true
          schema:
            type: string
      responses:
        '204':
          description: User revoked
        '400':
          content:
            application/json:
              example:
                code: invalid_parameter
                message: Invalid request
              schema:
                $ref: '#/components/schemas/errorModel'
          description: bad request
      summary: Revoke an admin user
      tags:
        - Master account
  /corporate/user/{email}/permissions:
    get:
      description: This endpoint will provide the list of admin user permissions
      operationId: getCorporateUserPermission
      parameters:
        - description: Email of the invited user.
          in: path
          name: email
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    email: invitedUser@company.com
                    feature_access:
                      analytics:
                        - download_data
                        - create_alerts
                        - my_looks
                        - explore_create
                      api_keys:
                        - all
                      apps_management:
                        - all
                      create_sub_organizations:
                        - all
                      manage_sub_organizations:
                        - all
                      my_plan:
                        - all
                        - all
                      sub_organization_groups:
                        - create
                        - edit_delete
                      user_management:
                        - none
                    groups:
                      - id: 6543ab3667ffbb00142e4486
                        name: Support
                      - id: 174bab366732bbce142e4412
                        name: Technical
                    status: active
              schema:
                description: Check admin user permissions
                properties:
                  email:
                    description: Email address of the user.
                    example: invitedUser@company.com
                    type: string
                  feature_access:
                    description: Granular feature permissions given to the user.
                    properties:
                      analytics:
                        description: Permission on analytics
                        items:
                          description: Permission details
                          example:
                            - create_alerts
                            - download_data
                            - my_looks
                            - explore_create
                          type: string
                        type: array
                      api_keys:
                        description: Permission on api keys
                        items:
                          description: Permission details
                          example: all
                          type: string
                        type: array
                      apps_management:
                        description: Permission on apps management
                        items:
                          description: Permission details
                          example: all
                          type: string
                        type: array
                      create_sub_organizations:
                        description: Permission on create sub-accounts
                        items:
                          description: Permission details
                          example: all
                          type: string
                        type: array
                      manage_sub_organizations:
                        description: Permission on manage sub-accounts
                        items:
                          description: Permission details
                          example: all
                          type: string
                        type: array
                      my_plan:
                        description: Permission on my plan
                        items:
                          description: Permission details
                          example: all
                          type: string
                        type: array
                      sub_organization_groups:
                        description: Permission on groups
                        items:
                          description: Permission details
                          example:
                            - create
                            - edit_delete
                          type: string
                        type: array
                      user_management:
                        description: Permission on user management
                        items:
                          description: Permission details
                          example: none
                          type: string
                        type: array
                    type: object
                  groups:
                    items:
                      description: Groups details
                      properties:
                        id:
                          description: group identifier
                          example: 6cbcxxxxxxxxxxxxxxxx457a
                          type: string
                        name:
                          description: Group name
                          example: Staff
                          type: string
                      type: object
                    type: array
                  status:
                    description: Status of the invited user.
                    example: active / pending
                    type: string
                required:
                  - email
                  - status
                  - groups
                  - feature_access
                type: object
          description: List of user's permissions
        '400':
          $ref: '#/components/responses/errorModel'
      summary: Check admin user permissions
      tags:
        - Master account
    put:
      description: |-
        This endpoint will allow you to change the permissions of Admin users of
        your Admin account
      parameters:
        - description: Email address of Admin user
          in: path
          name: email
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            example:
              all_features_access: false
              privileges:
                - feature: user_management
                  permissions:
                    - all
                - feature: api
                  permissions:
                    - all
                - feature: my_plan
                  permissions:
                    - none
                - feature: apps_management
                  permissions:
                    - all
                - feature: create_sub_organizations
                  permissions:
                    - all
                - feature: sub_organization_groups
                  permissions:
                    - create
                    - edit_delete
                - feature: manage_sub_organizations
                  permissions:
                    - all
                - feature: security
                  permissions:
                    - none
                - feature: analytics
                  permissions:
                    - create_alerts
                    - download_data
                    - my_looks
                    - explore_create
            schema:
              properties:
                all_features_access:
                  description: All access to the features
                  enum:
                    - true
                    - false
                  example: true
                  type: boolean
                privileges:
                  items:
                    description: Permission on features
                    properties:
                      feature:
                        description: feature name
                        enum:
                          - user_management
                          - api
                          - my_plan
                          - apps_management
                          - analytics
                          - sub_organization_groups
                          - create_sub_organizations
                          - manage_sub_organizations
                          - security
                        example: user_management
                        type: string
                      permissions:
                        description: Permission for the feature
                        example:
                          - all
                        items:
                          enum:
                            - all
                            - none
                            - create
                            - edit_delete
                            - create_alerts
                            - download_data
                            - my_looks
                            - explore_create
                          type: string
                        type: array
                    type: object
                  type: array
              required:
                - all_features_access
                - privileges
              type: object
        description: Values to update an admin user permissions
        required: true
      responses:
        '204':
          content: {}
          description: User permissions has been modified
        '400':
          content:
            application/json:
              example:
                code: invalid_parameter
                message: Invalid email
              schema:
                $ref: '#/components/schemas/errorModel'
          description: bad request
      summary: Change admin user permissions
      tags:
        - Master account
  /organization/activities:
    get:
      operationId: getAccountActivity
      parameters:
        - description: |-
[...]
