[run]
source = .
omit =
    tests/*
    venv*/*
branch = True

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    if __name__ == .__main__.:
show_missing = True
skip_empty = True
