black
Flask
flask-cors
google-api-python-client
google-cloud-secret-manager
google-cloud-vision
gunicorn
jsonify
loguru
numpy
oauth2client
pandas==1.1.5
pg8000==1.15.3
psycopg2-binary
pytest
pytest-cov
sqlalchemy
