#_AIRFLOW_WWW_USER_USERNAME=<airflow>
#_AIRFLOW_WWW_USER_PASSWORD=<password>
#AIRFLOW__CORE__FERNET_KEY=<How to https://airflow.apache.org/docs/apache-airflow/stable/security/secrets/fernet.html>
#AIRFLOW_CONN_GOOGLE_CLOUD_DEFAULT=google-cloud-platform://?extra__google_cloud_platform__project=passculture-data-ehp&extra__google_cloud_platform__scope=https://www.googleapis.com/auth/cloud-platform
#AIRFLOW__WEBSERVER__SECRET_KEY=<secret>

#LOCAL_ENV=1

#ENV_SHORT_NAME=<dev|stg|prod>
#GCP_PROJECT_ID=<passculture-data-<env>
#GOOGLE_CLOUD_PROJECT=${GCP_PROJECT_ID}
#GCP_PROJECT_ID=<passculture-data-<env>
#GCP_REGION=
#GCE_SA=
#NETWORK_MODE='proxy|default'
#GCE_NETWORK_ID
#GCE_SUBNETWORK_ID=
#GCE_BACKEND_NETWORK_ID =
#GCE_BACKEND_SUBNETWORK_ID =
#RECOMMENDATION_SQL_INSTANCE=
#APPLICATIVE_EXTERNAL_CONNECTION_ID=
#BIGQUERY_CONNECTION_RECOMMENDATION=
#DATA_GCS_BUCKET_NAME=